span{
    color: rgba(50, 108, 205);
}
button{
    color: white;
    background-color: rgba(50, 108, 205);
    border: none;
    padding: 5px 15px 5px 15px;
}
body
{
  
    height: auto;
    
    margin: 0px;
    
}
.navbar{
  
    height: auto;
    padding: 35px;
    margin: 0px;
}
.navbar li{
    height: auto;
    display: inline;
float: right;
padding: 50px;
padding-top: 0px;
}
.advert{

    height: auto;
    background-image: url("images/bg.png");
    background-size: cover;
    padding: 200px;
}
.about_us{
    
height: auto;
display: flex;
justify-content: space-between;
}
.about_us .about_text{
  padding-top: 100px;
}
.about_us .about_pic img{
height: 500px;
width: 500px;
}
.affordable{
    margin-top: 0px;
    background-image: url("images/Rectangle\ 11.png");
    background-size: cover;
    padding: 180px; 
    font-size: x-large;
    color: white;
}
#afford{
    font-size: small;
    color: white;
}
.our_services{
  
    
}
.our_services .list{
    display: flex;
    justify-content: space-around;
     padding: 25px;
}

.our_services li{
   list-style: none;
    box-shadow:2px 3px 5px #808080;
    padding: 20px;
}
.our_services li img{
    height: 150px;
    width: 300px;
   
}
.contact_us{
    background-color: #3e81f5;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    
}
.contact_us .contact_form{
    padding: 20px;
    background-color: white;
}
.contact_us .contact_form form>input{
    width: 500px;
    height: 50px;
}
.contact_us .contact_text{
    width: 30%;
    
}
.footer{
    background-color: #101d37;
    padding: 30px;
    font-size: x-large;
    color: rgb(158, 151, 151);
