span{
    color: rgba(50, 108, 205);
}
button{
    color: white;
    background-color: rgba(50, 108, 205);
    border: none;
    padding: 5px 15px 5px 15px;
}
body
{
  
    height: auto;
    
    margin: 0px;
    
}
.navbar{
  
    height: auto;
    padding: 35px;
    margin: 0px;
}
.navbar li{
    height: auto;
    display: inline;
float: right;
padding: 50px;
padding-top: 0px;
}